POSTGRES_DB=task_django
POSTGRES_USER=task_django
POSTGRES_PASSWORD=task_django
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me
